# Data Science tools and Ecosystem

in this notebook, Data science Tools and Ecosystem are summarized

# objectives
popular libraries for data scientists 
open source tools for data science 
commercial tools for data science

Some of popular languages that Data Scientists use are:
1:Paython
2:R
3:Julia

Some of the commonly used libraries used by Data scientists include:
1:Numpy
2:Pandas
3:Sikitlearn

| Data Science Tools |
| JupyterLab |
| jupyter Notbook |
| Rstudio |

Below are a few examples of evaluating arithmetic expressions in Paython

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
x = 200 
y = x // 60
print(y)

3

## Author 
khaled aladib